
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.left {float: left}
.right {float: right}

.absolute-left, .absolute-right {
    position: absolute;
    vertical-align: middle
}

.absolute-left {left:0}
.absolute-right {right:0}

.frame {
    margin: 0 auto;
    max-width: 100%
}

.frame:after {
    content: "";
    display: table;
    clear: both
}

.wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    line-height: inherit;
    position: relative;
    display: block;
    overflow: hidden;
    float: none
}

.container {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    /* Change the max-width to adjust the container width*/
    max-width: 1260px
}

[class*='bit-'] {
    display: block;
    overflow: hidden;
    position: relative;
    float: left;
    padding: .6em .4em
}

/* ###################################### GRID BITS
bit-1 = 100%
bit-12 = 8.33%

fullwidth page (100%)  : bit-(3) = 33,3%
fullwidth page (100%)  : bit-(4) = 25%
fullwidth page (100%)  : bit-(8) = 12,5%
##################################### */

.bit-auto {
    position: relative;
    width: auto
}

.bit-1 {
    width: 100%
}

.bit-2 {
    width: 50%
}

.bit-3 {
    width: 33.33333%
}

.bit-4 {
    width: 25%
}

.bit-5 {
    width: 20%
}

.bit-6 {
    width: 16.66667%
}

.bit-7 {
    width: 14.28571%
}

.bit-8 {
    width: 12.5%
}

.bit-9 {
    width: 11.11111%
}

.bit-10 {
    width: 10%
}

.bit-11 {
    width: 9.09091%
}

.bit-12 {
    width: 8.33333%
}

/* ###################################### GRID BITS
bit-20 = 20%
bit-55 = 55%
##################################### */

.bit-5 {
    width: 5%
}
.bit-10 {
    width: 10%
}
.bit-20 {
    width: 20%
}

.bit-25 {
    width: 25%
}

.bit-30 {
    width: 30%
}

.bit-35 {
    width: 35%
}

.bit-40 {
    width: 40%
}

.bit-50 {
    width: 50%
}

.bit-55 {
    width: 55%
}

.bit-60 {
    width: 60%
}

.bit-65 {
    width: 65%
}

.bit-70 {
    width: 70%
}

.bit-75 {
    width: 75%
}

.bit-80 {
    width: 80%
}

.bit-85 {
    width: 85%
}
.bit-90 {
    width: 90%
}
.bit-95 {
    width: 95%
}


@media(min-width:0) and (max-width:480px) {
    * {
        font-size: 99%
    }

    [class*='left'],
    [class*='right'] {
        float: none !important
    }

    [class*='bit-'] {
        float: none !important;
        width: 98%;
        padding: 1%;
        margin: 0 auto
    }

    .horizon li {
        float: none;
        clear: both;
        text-align: center;
        width: 98%;
        padding: 2%
    }
}

@media(min-width:321px) and (max-width:720px) {

    h1,
    h2,
    h1 a,
    h2 a,
    h3,
    h3 a {
        font-size: 2.3em
    }

    h4,
    h5,
    h6,
    h4 a,
    h5 a,
    h6 a {
        font-size: 1.8em
    }

    [class*='right'] {
        float: none !important
    }

    [class*='left'] {
        float: none !important
    }
}

@media(min-width:721px) and (max-width:1960px) {

}

@media(min-width:0) and (max-width:40em) {

    .bit-4,
    .bit-6,
    .bit-8,
    .bit-10,
    .bit-12 {
        width: 48%
    }

    .bit-2,
    .bit-3,
    .bit-5,
    .bit-7,
    .bit-9,
    .bit-11,
    .bit-50 {
        width: 98%;
        padding: 2%;
        clear: both
    }
}

@media(min-width:70em) and (max-width:88.75em) {

    .bit-2,
    .bit-7 {
        width: 48%
    }

    [class*='bit-'] .bit-4,
    .bit-8,
    .bit-10,
    .bit-12 {
        width: 50%
    }
}


@media(min-width:0) and (max-width:320px) {

    .bit-4,
    .bit-30,
    .bit-3,
    .bit-65,
    .bit-70 {
        width: 96% !important;
        padding: 2%;
        clear: both
    }

    ul.horizon li {
        width: 96%;
        text-align: center;
        float: none;
        clear: both;
        padding: 2%
    }


    .text-right,
    .text-left {
        width: 98% !important;
        padding: 1%;
        float: none;
        margin: 1% auto;
        text-align: center !important
    }
}

@media(min-width:321px) and (max-width:720px) {

    .bit-30,
    .bit-3,
    .bit-65,
    .bit-70 {
        width: 96% !important;
        padding: 2%;
        float: none;
        clear: both
    }

    .bit-4 {
        width: 48% !important;
        padding: 2%
    }

    ul.horizon li {
        width: 96%;
        text-align: center;
        float: none;
        clear: both;
        padding: 2%
    }
}

@media(min-width:721px) and (max-width:1960px) {
    .bit-4 {
        width: 25% !important;
        padding: 2%
    }

    ul.horizon li {
        width: 32%;
        text-align: center;
        float: left;
        padding: 1%
    }

    .bit-4 {
        width: 25% !important;
        padding: 2%
    }
}

@media(min-width:0) and (max-width:30em) {

    h1,
    h1 a {
        font-size: 2em
    }

    h2,
    h2 a {
        font-size: 1.8em
    }

    h3,
    h3 a {
        font-size: 1.6em
    }

    h4,
    h4 a {
        font-size: 1.4em
    }

    h5,
    h5 a {
        font-size: 1.2em
    }

    h6,
    h6 a {
        font-size: 1em
    }
}